[submodule "VisionArtAI-Frontend"]
	path = VisionArtAI-Frontend
	url = https://github.com/heigon77/VisionArtAI-Frontend.git
[submodule "VisionArtAI-Training"]
	path = VisionArtAI-Training
	url = https://github.com/heigon77/VisionArtAI-Training.git